html {
    font-size: 16px;
    font-family: Roboto,sans-serif;
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
    height: 2000px;
}
.bg-image{
    background: url("https://lh4.googleusercontent.com/UW4Q7Q5qcWD1r_52BF_UY6T-T6fw3MbXqo-bMc5WRInfSXRItRq1uOWuYLx9FRTzR_enuOVmiDf0vHTkakRp-io");
    background-size: cover;
    background-position: center center;
}
.navbar {
    background: rgba(31,56,80,0.2);
}
.navbar:hover{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.jumbotron {
    background: rgba(31,56,80,0.8);
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}
.jumb-hmarg {
    margin-left: auto;
    margin-right: auto;
}
.jumbotron .row {
    padding: 44px 56px;
    margin: auto;
    box-shadow: inset 0px 0px 0px 7px white;
    max-width: 1280px;
}
.row-header{
    margin: 0px auto;
    padding: 0px;
}
.jumbotron .d-flex{
    width: auto;
}
.jumbotron span {
    overflow-wrap: anywhere;
    text-align: center;  
    color: white;
    font-family: 'Oswald';
    font-weight: 600;
    vertical-align: baseline;   
}
#page-name {
    font-size: 64pt; 
}
.content {
    padding-top: 200px;
    height: 1000px;
}
