html {
    font-size: 16px;
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
    height: 2000px;
}
.bg-image{
    background: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: center center;
}
.bg-contact{
    background: url("../img/contact.JPG");
    background-size: cover;
    background-position: center center;
}
.navbar{
    background: rgba(31,56,80,0.2);
}
.navbar:hover{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
    font-family: 'Playfair Display', serif;    
    font-size: 18pt;
}
.jumbotron {
    padding: 4rem 2rem;
    background: rgba(31,56,80,0.75);
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}
.center-header{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    text-align: center;
}
.row-header{
    margin: 0px auto;
    padding: 44px 56px;
    box-shadow: inset 0px 0px 0px 6px white;
    display: inline-block;
}
.page-name {
    font-size: 64pt; 
    letter-spacing: -0.8px;
    text-align: center;  
    color: white;
    font-family: 'Oswald', sans-serif;
    vertical-align: baseline;
    white-space: pre-wrap;
    /* word-wrap: break-word; */
    overflow-wrap: anywhere;
}
.content {
    padding-top: 200px;
    height: 1000px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-content h2 {
    text-align: center;
}
.row-content span {
    font-family: 'Playfair Display', serif;
    font-size: 29pt;
}
.row-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    /* text-align: justify;
    text-justify: inter-word; */
}
